.result-wrapper {
  width: 534px;
  height: fit-content;
  border: 1px solid var(--gray5);
  border-radius: 4px;

  display: none;
}

.result-wrapper.show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, auto));
}

.result-wrapper .result-box {
  width: 100%;
  border-right: 1px solid var(--gray5);
}

.result-wrapper .result-box h3 {
  border-bottom: 1px solid var(--gray5);
}

.result-wrapper .result-box h3,
.result-wrapper .result-box p {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 0;
}

.result-skeleton {
  width: 534px;
  height: 75px;
  border: 1px solid var(--gray5);
  border-radius: 4px;

  opacity: 0.7;
  -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
  animation: skeleton-gradient 1.8s infinite ease-in-out;

  display: none;
}

@-webkit-keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
